.axis text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    fill: #8c9197;
}

.label {
    font-family: 'Open Sans', sans-serif;
    fill: #8c9197;
}

.title {
    font-family: 'Open Sans', sans-serif;
    fill: #8c9197;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    fill: #8c9197;
}

.domain {
    stroke: #23272d;
}

.axis--y line {
    stroke: #454c55;
}

.axis--y path {
    stroke: #454c55;
}

.axis--y text {
    fill: #8c9197;
}

.axis--x line {
    stroke: #454c55;
}

.axis--x path {
    stroke: #454c55;
}

.axis--x text {
    fill: #8c9197;
}

.grid line {
    stroke: #23272d;
}

#volumeAndTip {
    position: relative;
}

#volumeTip {
    position: absolute;
    width:215px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#volumeTip.hidden {
    display: none;
}

#volumeTip p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}
